<mat-toolbar id="toolbar">
    <button class="btn" type="submit" (click)="atenderPacientes()" mat-raised-button color="primary">Atender
        Pacientes</button>
    <button class="btn" type="submit" (click)="sair()" mat-raised-button color="warn">Sair</button>
</mat-toolbar>
<div id="container-medicamentos">
    <div>
        <div class="container-titulo">
            <h2 class="title">Registrar Medicamento</h2>
        </div>
        <form>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome</mat-label>
                    <input class="cp-ipt" matInput type="text" id="nome" name="nome" [(ngModel)]="nome">
                </mat-form-field>

            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Codigo</mat-label>
                    <input class="cp-ipt" matInput type="text" id="codigo" name="codigo" [(ngModel)]="codigo">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Categoria</mat-label>
                    <input class="cp-ipt" matInput type="text" id="categoria" name="categoria" [(ngModel)]="categoria">
                </mat-form-field>
            </div>

            <div class="container-btn">
                <button type="submit" id="btnRegistraMedicamento" (click)="registrar()" mat-raised-button color="warn">Registrar</button>
            </div>
        </form>
    </div>
</div>