<div class="login-container">
    <div>
        <div class="container-titulo">
            <h2 id="titleLogin">Registro</h2>
        </div>
        <form>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>CRM ou CPF</mat-label>
                    <input placeholder="CRM/SP000000 ou 00000000000" class="cp-ipt" matInput type="text" id="documento" name="documento" [(ngModel)]="documento">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome</mat-label>
                    <input  class="cp-ipt" matInput type="text" id="nome" name="nome" [(ngModel)]="nome">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Data de Nascimento</mat-label>
                    <input class="cp-ipt" matInput type="date" id="dtNascimento" name="dtNascimento" [(ngModel)]="dtNascimento">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Senha</mat-label>
                    <input class="cp-ipt" matInput type="password" id="password" name="password" [(ngModel)]="password">
                </mat-form-field>
            </div>

            <div class="container-btn">
                <button type="submit" (click)="registrar()" mat-raised-button color="primary">Registrar</button>
                <button type="submit" (click)="voltar()" mat-raised-button color="warn">Já possui conta?</button>
            </div>
        </form>
    </div>
</div>