.login-container{
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    background-image: url("../../assets/clinica.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .container-btn{
      display: flex;
      justify-content: space-around;
  }
  
  .container-titulo{
    display: flex;
    justify-content: center;
  }
  
  .form-group{
    width: 40vh;
  }
  
  .example-full-width{
    width: 100%;
  }
  
  #titleLogin{
    font-size: xx-large;
    font-family: serif;
  }